@model EventBookingSystem.Models.Booking
 
@{
    ViewData["Title"] = "Delete Booking";
}

<h1>Delete Booking</h1>

<h3>Are you sure you want to delete this booking?</h3>
<div>
    <p>Booking ID: @Model.BookingId</p>
    <p>Event: @Model.Customer.FullName</p>
    <p>Event: @Model.Event.EventName</p>
    <p>Venue: @Model.Venue.VenueName</p>
    <p>Booking Date: @Model.BookingDate</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="BookingId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index", "Booking")" class="btn btn-secondary">Cancel</a>
</form>